						#parent
						{
						font-weight:bold;font-size:20px;
						}
						#hr{
						margin-top:-1%;margin-left:15%;color:blue
						}
						#span-parent
						{
						font-weight:bold;color:#5c5cec;
						}
						.offset-3 {
							margin-left: 26%;
						}
						.offset-4 {
							margin-left: 36%;
						}